In [8]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

%load_ext sql
%config SqlMagic.autocommit=True

%sql postgresql://ics:ics@localhost:5432/ics

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: ics@ics'

Подключаемся к базе данных

In [9]:
engine = create_engine('postgresql://ics:ics@localhost:5432/ics')
df = pd.read_sql('select * from information_schema.tables', engine)
df.head()

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,ics,tiger,zip_state,BASE TABLE,None,None,None,None,None,YES,NO,None
1,ics,public,geography_columns,VIEW,None,None,None,None,None,NO,NO,None
2,ics,public,geometry_columns,VIEW,None,None,None,None,None,YES,NO,None
3,ics,public,spatial_ref_sys,BASE TABLE,None,None,None,None,None,YES,NO,None
4,ics,tiger,zip_state_loc,BASE TABLE,None,None,None,None,None,YES,NO,None

4. Посмотреть значение параметра shared_buffers

In [17]:
%sql SELECT * FROM pg_settings WHERE name = 'shared_buffers';

 * postgresql://ics:***@localhost:5432/ics
1 rows affected.

[('shared_buffers', '16384', '8kB', 'Resource Usage / Memory', 'Sets the number of shared memory buffers used by the server.', None, 'postmaster', 'integer', 'configuration file', '16', '1073741823', None, '1024', '16384', '/var/lib/postgresql/data/postgresql.conf', 113, False)]

In [11]:
%sql CREATE DATABASE mydb WITH OWNER = ics ENCODING = 'UTF8';

 * postgresql://ics:***@localhost:5432/ics
Done.

[]

In [12]:
%sql CREATE SCHEMA IF NOT EXISTS myschem1;

 * postgresql://ics:***@localhost:5432/ics
Done.

[]

In [15]:
%sql SET search_path TO myschem1;
%sql SHOW search_path;

 * postgresql://ics:***@localhost:5432/ics
Done.
 * postgresql://ics:***@localhost:5432/ics
1 rows affected.

[('myschem1',)]

In [16]:
%sql CREATE EXTENSION pg_freespacemap;

 * postgresql://ics:***@localhost:5432/ics
Done.

[]

## 6. Создать последовательность
### 1. MySq c шагом 1

In [23]:
%%sql
CREATE SEQUENCE IF NOT EXISTS mysq1
    INCREMENT 1
    START 1;

 * postgresql://ics:***@localhost:5432/ics
Done.

[]

## 7. Создать Тип
### 1.Создать новый тип с описанием работника

In [20]:
%%sql
CREATE TYPE fio AS
(
    name    character(40),
    soname  character(40),
    family  character(40),
    gender  character(1)
);

 * postgresql://ics:***@localhost:5432/ics
Done.

[]

## 10.Таблицы

In [24]:
%%sql 
CREATE TABLE employers
(
    ID_EMP              INT PRIMARY KEY DEFAULT nextval('mysq1'),
    SName               varchar(40),
    SFamily             varchar(40),
    FIO1                fio,
    SPosition           varchar(40),
    SSex                int,
    aSTelephone         text [],
    SOrganization       varchar(255),
    S_FIO_EMPL          varchar(50),
    SLogin              varchar(40),
    SPSW                char(10),
    IAccess             int,
    sTCHF               varchar(20) -- tech field
);

 * postgresql://ics:***@localhost:5432/ics
Done.

[]

## 11. SQL-операторы
### 1. Добавьте двух работников в EMPLOYERS; один c двумя телефонами, один c тремя телефонами, заполнитть столбец FIO1

In [25]:
%%sql 
INSERT INTO employers(SName, SPosition, FIO1, aSTelephone) VALUES
('steve', 'worker', ('steve', 'rogers', 'marvel', 'm'), '{"8-800-555-3535", "8-915-144-4838"}'),
('peter', 'worker', ('peter', 'quill', 'guardians', 'm'), '{"8-123-358-4387"}'),
('tony', 'manager', ('tony', 'stark', 'marvel', 'm'), '{"+7-128-547-5491", "8-912-478-1928", "8-944-123-8549"}');

 * postgresql://ics:***@localhost:5432/ics
3 rows affected.

[]

In [26]:
%%sql
select * from employers

 * postgresql://ics:***@localhost:5432/ics
3 rows affected.

[(1, 'steve', None, '("steve                                   ","rogers                                  ","marvel                                  ",m)', 'worker', None, ['8-800-555-3535', '8-915-144-4838'], None, None, None, None, None, None),
 (2, 'peter', None, '("peter                                   ","quill                                   ","guardians                               ",m)', 'worker', None, ['8-123-358-4387'], None, None, None, None, None, None),
 (3, 'tony', None, '("tony                                    ","stark                                   ","marvel                                  ",m)', 'manager', None, ['+7-128-547-5491', '8-912-478-1928', '8-944-123-8549'], None, None, None, None, None, None)]

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION duplicate_nomenclatura(record_id int)
  RETURNS void AS
$func$
BEGIN
   EXECUTE format('INSERT INTO nomenclatura (
                     DRUG_NAME, sINSTRUCTION
                   )
                   SELECT DRUG_NAME, sINSTRUCTION FROM nomenclatura
                   WHERE ID_DRG = %s', record_id);
END
$func$ LANGUAGE plpgsql;